.expense-table{
    padding: 0;
    margin: 0;
}

.expense-table table{
    border-collapse: collapse;
    width: 100%;
}

.expense-table td{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #44B3E1;
}

.expense-table thead{
    background-color: #156082;
    color: white;
}

.odd{
    background-color: #C0E6F5;
}

.even{
    background-color: white;
}